.navbar {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}
.navbar-brand {
    font-weight: 600;
}
.intro {
    margin-top: 4em;
    margin-bottom: 3em;
}
.intro-text {
    width: 4em;
}
#intro-headshot {
    border-radius: 50%;
    width: 12em;
    height: 12em;
}
ul {
    padding-left: 2.7em;
    list-style-type: none;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
li {
    margin-top: .8em;
    margin-bottom: .8em;
}
.icon {
    height: 1em;
    width: 1em;
    margin-right: 0.48em;
}
#intro-paragraph {
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 1.8em;
}
.main-images {
    margin-bottom: 100px;
}
.main-images .container {
    width: 20%;
    height: auto;
    float: left;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.main-images .container img{
    width: 100%;
    height: auto;
    margin: auto;
    align-content: center;
}
.projects-title {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.7em;
}



.bottom-info {
    background-color: silver;
    padding-top: 2em;
    padding-bottom: 2em;
}
.bottom-info .container {
    padding-bottom: 1.4em;
}
.bottom-info .container img {
    padding-left: 1em;
    padding-right: 1em;
}
.bottom-email {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}